.banner {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.banner-decoration {
  position: relative;
}

.banner-decoration::after {
  content: "";
  position: absolute;
  background: url("../../assets/images/nexus-decoration.svg") no-repeat;
  width: 343px;
  height: 600px;
  z-index: -1;
  top: 80px;
}

.banner-intro {
  align-self: stretch;
  background: #1a1a1a;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 40px;
  border-radius: 30px;
  color: #ffffff;
}

.banner-intro p {
  font-size: 14px;
  letter-spacing: 4px;
}

.banner-intro h2 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
}

.banner-intro span {
  font-weight: bold;
}

.banner-intro a {
  margin-top: 32px;
}

.banner-intro-content {
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media only screen and (max-width: 425px) {
  .banner-intro p {
    text-align: center;
    max-width: 25ch;
  }

  .banner-intro-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
