.feedback {
  display: none;
}

.feedback.active {
  display: block;
}

.feedbacks {
  margin-top: 80px;
}

.feedbacks h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.feedback {
  margin-top: 40px;
  background: linear-gradient(#2d3139, #0b101a);
  border-radius: 24px;
  box-sizing: border-box;
  padding: 80px 80px;
}

.feedback-enterprise {
  display: flex;
  justify-content: space-between;
}

.feedback-enterprise h3 {
  font-size: 32px;
  font-weight: 400;
}

.feedback-enterprise ul {
  display: flex;
  gap: 8px;
}

.feedback-p {
  margin-top: 40px;
  font-size: 20px;
  opacity: 70%;
}

.feedback-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-person {
  align-items: center;
}

.feedback-person p::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  margin-top: 4px;
  background: #03ffa2;
}

.feedback-person span {
  display: block;
  margin-top: 4px;
  opacity: 70%;
}

.feedback-slide {
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 570px) {
  .feedback-enterprise {
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .feedback-enterprise h3 {
    font-size: 28px;
  }

  .feedback-p {
    font-size: 14px;
  }

  .feedback-footer {
    flex-direction: column;
    gap: 40px;
  }

  .feedback-person {
    text-align: center;
  }

  .feedback-person p {
    position: relative;
  }

  .feedback-person p::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .feedback-person span {
    margin-top: 10px;
  }
}

.container.feedbacks {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback-slide {
  position: absolute;
  right: 20px; /* Ajuste conforme necessário */
  top: 110%;
  transform: translateY(-40%);
  display: flex;
  gap: 10px; /* Espaço entre os botões */
}

.feedback-slide .arrow-left,
.feedback-slide .arrow-right {
  cursor: pointer;
}
