/* Estilos */
.fade-in-up {
    opacity: 0;
    transform: translateY(30px); 
    animation: fadeInUp 1s ease forwards; 
}

/* Animação para mover e aparecer */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* animação do botão pulsando */ 
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03); /* Aumenta o tamanho do botão */
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Whatsapp flutuante */
@keyframes float {
    0%, 100% {
      transform: translateY(0); /* Começa na posição original */
    }
    50% {
      transform: translateY(-20px); /* Move para cima 20 pixels */
    }
  }